
#Slogan {
	width: 100%;
	z-index: 100;
	position: absolute;
	top: 40%;
	left: 0px;
	text-align: center;
	opacity: 0;
	-webkit-animation: slogan 7s linear 0s;
	-moz-animation: slogan 7s linear 0s;
	-o-animation: slogan 7s linear 0s;
	-ms-animation: slogan 7s linear 0s;
	animation: slogan 7s linear 0s;
	font-size: 250%;
	color:#fff;
	font-weight: bold;
	text-shadow: 2px 2px #000;
	z-index:1;
}

#bx-pager a {
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	z-index: 99;
	
}

#bx-pager a:nth-child(1) {
	top: 220px;
	left: 490px;
	opacity: 0;
	animation: achor 5s linear normal 10s forwards;
	-moz-animation: achor 5s linear normal 10s forwards;
	-ms-animation: achor 5s linear normal 10s forwards;
	-webkit-animation: achor 5s linear normal 10s forwards;
	-o-animation: achor 5s linear normal 10s forwards;
}
#bx-pager a:nth-child(2) {
	top: 220px;
	left: 518px;
	opacity: 0;
	animation: achor 5s linear normal 11s forwards;
	-moz-animation: achor 5s linear normal 11s forwards;
	-ms-animation: achor 5s linear normal 11s forwards;
	-webkit-animation: achor 5s linear normal 11s forwards;
	-o-animation: achor 5s linear normal 11s forwards;
}
#bx-pager a:nth-child(3) {
	top: 245px;
	left: 500px;
	opacity: 0;
	animation: achor 5s linear normal 12s forwards;
	-moz-animation: achor 5s linear normal 12s forwards;
	-ms-animation: achor 5s linear normal 12s forwards;
	-webkit-animation: achor 5s linear normal 12s forwards;
	-o-animation: achor 5s linear normal 12s forwards;
}
#bx-pager a:nth-child(4) {
	top: 195px;
	left: 480px;
	opacity: 0;
	animation: achor 5s linear normal 13s forwards;
	-moz-animation: achor 5s linear normal 13s forwards;
	-ms-animation: achor 5s linear normal 13s forwards;
	-webkit-animation: achor 5s linear normal 13s forwards;
	-o-animation: achor 5s linear normal 13s forwards;
}
#bx-pager a:nth-child(5) {
	top: 225px;
	left: 457px;
	opacity: 0;
	animation: achor 5s linear normal 14s forwards;
	-moz-animation: achor 5s linear normal 14s forwards;
	-ms-animation: achor 5s linear normal 14s forwards;
	-webkit-animation: achor 5s linear normal 14s forwards;
	-o-animation: achor 5s linear normal 14s forwards;
}
#bx-pager a:nth-child(6) {
	top: 125px;
	left: 735px;
	opacity: 0;
	animation: achor 5s linear normal 15s forwards;
	-moz-animation: achor 5s linear normal 15s forwards;
	-ms-animation: achor 5s linear normal 15s forwards;
	-webkit-animation: achor 5s linear normal 15s forwards;
	-o-animation: achor 5s linear normal 15s forwards;
}
#bx-pager a:nth-child(7) {
	top: 45px;
	left: 915px;
	opacity: 0;
	animation: achor 5s linear normal 16s forwards;
	-moz-animation: achor 5s linear normal 16s forwards;
	-ms-animation: achor 5s linear normal 16s forwards;
	-webkit-animation: achor 5s linear normal 16s forwards;
	-o-animation: achor 5s linear normal 16s forwards;
}
#bx-pager a:nth-child(8) {
	top: 5px;
	left: 925px;
	opacity: 0;
	animation: achor 5s linear normal 17s forwards;
	-moz-animation: achor 5s linear normal 17s forwards;
	-ms-animation: achor 5s linear normal 17s forwards;
	-webkit-animation: achor 5s linear normal 17s forwards;
	-o-animation: achor 5s linear normal 17s forwards;
}
@keyframes slogan {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	40% {
		transform: scale(1);
		opacity: 1;		
	}
	70% {
		transform: scale(1);
		opacity: 1;		
	}
	100% {
		transform: scale(0);
		opacity: 0;	
	}		
}

@-webkit-keyframes slogan {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	40% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}
	70% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}
	100% {
		-webkit-transform: scale(0);
		opacity: 0;	
	}		
}

@keyframes achor {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	10% {
		transform: scale(1);
		opacity: 1;		
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes achor {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	10% {
		-webkit-transform: scale(1);
		opacity: 1;		
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}









