@charset "utf-8";
/*
///////////////////////////////////////////
CSS FOR Common
Made by Quoctk (クック)
/////////////////////////////////////
*/


/*html*/
html {
	overflow-y: scroll;
}
/*body*/
body {
	font-size: 12px;
	line-height: 1.4;
	font-family: Tahoma, Arial, Sans-Serif;
	min-width: 1000px;
}
#Container {
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
/*/////HEADER/////*/

#Header {
	width: 100%;
	height: 100px;
	background: url(../images/common/bg_header.png) repeat-x;
	position: relative;
	z-index: 9999;
}
#Header-wrap {
	width: 960px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
#Header-wrap h1 {
	position: absolute;
	top: 15px;
	right: 0px;
	font-size: 100%;
	color: #666666;
}
#Logo {
	position: absolute;
	top: 20px;
	left: 0px;
}
/*/////NAVIGATION/////*/


#Nav {
	height: 72px!important;
	position: absolute;
	top: 0;
	right: 0;
}
#Nav li {
	height: 72px;
	padding: 0;
	margin: 0 -2px;
	display: inline-block;
 *display: inline;
	zoom: 1;
	background: url(../images/common/line_nav.png) no-repeat right top;
}
#Nav li.last {
	background: none;
}
#Nav li a {
	color: #868787;
	font-weight: bold;
	display: inline-block;
	padding: 50px 10px 10px 10px;
	text-decoration: none;
 *display: inline;
	zoom: 1;
}
#Nav li a:hover {
	color: #fff;
}
/*#Nav li a:hover, #Nav li a.active {
	color: #fff;
	background: url(../images/common/nav_hover.png) repeat-x;
}*/
/*/////CONTENT/////*/

#Content {
	width: 100%;
	margin: 0;
}
#Content-wrap {
	width: 100%;
	background: url(../images/common/bg_content01.png) repeat-x;
}
#Top-content {
	width: 100%;
	height: 615px;
	padding: 2px 0 0;
	margin-bottom: 35px;
	background: url(../images/common/bg_content02.png) no-repeat 50% 0;
}
.grid-850 {
	width: 850px;
	margin: 0 auto;
}
.grid-890 {
	width: 890px;
	margin: 0 auto;
}
.grid-960 {
	width: 960px;
	margin: 0 auto;
}
.grid-1000 {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.img-box {
	padding: 3px;
	border: 1px solid #9c9c9c;
}
.navigation {
	width: 270px;
	text-align: center;
	margin: 30px auto 0 auto;
}
.navigation li {
	width: 33px;
	float: left;
	padding: 0 2px;
}
.navigation li a {
	color: #535353;
	text-decoration: none;
}
.navigation li a:hover {
	color: #ff0000;
}
.navigation li.no {
	background: url(../images/index/line_nav.png) no-repeat right center;
	vertical-align: top;
	margin-top: 8px;
}
.navigation li.last {
	background: none!important;
}
.note-box {
	padding: 20px 20px;
	border: 1px solid #dedede;
	background: #f1f1f1;
	position: relative;
}
.note-box .note-title {
	width: 90px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background: #ff0000;
	padding: 5px 0;
	position: absolute;
	top: -15px;
	left: 20px;
}
.note-box .detail {
	color: #9c9c9c;
	line-height: 20px;
}
.sub-menu {
	width: 636px;
	background: url(../images/index/bg_link.png) repeat;
	position: absolute;
	bottom: -1px;
	padding: 0 30px;
}
.sub-menu li {
	display: inline-block;
 *display: inline;
	zoom: 1;
	padding: 7px 0;
	background: url(../images/index/link_line.png) no-repeat right center;
	margin-left: 15px
}
.sub-menu li.last {
	background: none
}
.sub-menu li a {
	color: #868787;
	text-decoration: none;
	padding-right: 20px;
}
.sub-menu li a:hover {
	color: #ff0000
}
#Content-sub { width: 910px; margin: 0 auto;}
/*/////FOOTER/////*/

#Footer {
	clear: both;
	height: 452px;
	width: 100%;
	background: url(../images/common/bg_footer01.png) repeat-x;
}
#Footer-wrap {
	width: 100%;
	height: 452px;
	background: url(../images/common/bg_footer02.png) no-repeat 50% 0;
}
.footer-info {
	height: 375px;
}
#Footer .left {
	width: 300px;
	color: #9c9c9c;
}
#Footer .left p {
	line-height: 20px;
}
#Footer .left .company-name {
	font-size: 134%;
	font-weight: bold;
	line-height: 30px;
}
#Footer .right {
	width: 450px;
}
.form {
	width: 100%;
	margin: 10px 0;
	color: #9c9c9c;
}
.form dt {
	width: 110px;
	float: left;
	padding: 5px 0;
	font-weight: bold;
	text-align: right;
}
.form dd {
	padding: 5px 0 5px 120px;
	color: #9c9c9c;
}
.form .input-txt {
	width: 317px;
	background: none;
	border: 1px solid #9c9c9c;
	padding: 5px 5px;
	color: #9c9c9c;
}
.form .area {
	width: 317px;
	background: none;
	border: 1px solid #9c9c9c;
	padding: 5px 5px;
	color: #9c9c9c;
}
.hotline {
	color: #fff;
	font-weight: bold;
	text-align: right;
}
.comment {
	color: #9c9c9c;
	font-weight: bold;
	text-align: right;
}
#Choose, #Cancel, #Submit {
	padding: 5px 10px;
	float: right;
	margin-left: 7px;
	text-align: center;
	border: 1px solid #fff;
	background: url(../images/common/bg_btn01.png) repeat-x;
	cursor: pointer;
	color: #9c9c9c;
}
#Choose:hover, #Cancel:hover, #Submit:hover {
	background: url(../images/common/bg_btn01b.png) repeat-x;
	color: #FFF!important;
}
.footer-icon {
	width: 100%;
	position: relative;
}
#F-logo {
	position: absolute;
	top: 17px;
	left: 20px;
}
#Copyright {
	position: absolute;
	top: 20px;
	left: 80px;
	color: #535353;
}
#Copyright span {
	color: #868787;
}
.f-social {
	position: absolute;
	top: 18px;
	right: 0;
}
.f-social li {
	width: 24px;
	height: 24px;
	float: left;
	margin-left: 5px;
}
/*/////PAGETOP/////*/

#Pagetop {
	position: fixed;
	right: 50px;
	bottom: 100px;
}
#Pagetop a {
	width: 22px;
	height: 31px;
	overflow: hidden;
	background: url(../images/common/pagetop.png) top center no-repeat;
	display: block;
}
