@charset "utf-8";
/*
///////////////////////////////////////////
CSS FOR Index
Made by Quoctk (クック)
/////////////////////////////////////
*/

.section {
	width: 100%;
}
.h2-title {
	color: #535353;
	font-size: 184%;
	font-weight: bold;
}
.h3-title {
	color: #535353;
	font-size: 134%;
	font-weight: bold;
}
#Tab-box {
	width: 100%;
	margin-bottom: 20px;
}
#Tab-box li {
	display: inline-block;
  *display: inline;
	zoom: 1;
	*margin-right: 3px;
	text-align: center;
	color: #9c9c9c;
	width: 163px;
	padding: 5px 0px;
	background: #f1f1f1;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #dedede;
	cursor: pointer;
	margin-bottom: 10px;
}
#Tab-box li.last {
	margin-right: 0px;
}
#Tab-box li.select {
	background: #ff2d2d;
	color: #fff;
}
.hidden {
	display: none;
}
.txt-01 {
	color: #9c9c9c;
	line-height: 20px;
}
.schedule {
	width: 100%;
}
.schedule li {
	width: 100%;
	float: left;
	margin: 10px 0 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #e0d9d5;
}
.schedule .left {
	width: 200px;
}
.schedule .left img {
	padding: 3px;
	border: 1px solid #9c9c9c;
}
.schedule .right {
	width: 615px;
}
.schedule .title-post {
	width: 530px;
	float: left;
	font-size: 134%;
	font-weight: bold;
}
.schedule .title-post a {
	color: #000;
	text-decoration: none;
}
.schedule .title-post a:hover {
	color: #ff0000;
}
.schedule .date-post {
	width: 80px;
	float: right;
	text-align: right;
	color: #9c9c9c;
}
.schedule .detail-post {
	width: 100%;
	color: #9c9c9c;
	line-height: 20px;
	clear: both;
}
.schedule .btn-continue {
	color: #9c9c9c;
	float: right;
}
.schedule .btn-continue:hover {
	color: #ff0000;
}
